# Notification Service Environment Variables
NODE_ENV=development

# gRPC Service Port
GRPC_PORT=51003

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-password

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/notifications
